<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12" >
      <div class="card" >
        <div class="card-header">
          <h4 class="card-title"> Emplacements Suggérés</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive"  style="overflow-y:auto;">
            
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Categorie
                </th>
                <th class="text-right">
                  Latitude
                </th>
                <th class="text-right">
                  Longitude
                </th>
                <th >
                  Nom d'emplacement
                </th>
                <th></th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor="let item of locations.emplacements">
                  <td> 
                      {{ item.categorie }}
                  </td>
                  <td class="text-right">
                      {{ item.latitude }}
                  </td>
                  <td class="text-right">
                      {{ item.longitude }}
                  </td>
                  <td >
                      {{ item.nomEmplacement }}
                  </td>
                  <td>
                    <button type="button"  (click)="Approuver(item.id)"  (click)="showNotification('top','left')" class="btn btn-warning" onClick="window.location.reload();">Approuver</button>
                  </td>
                  <td>
                    <button type="button" (click)="Ignorer(item.id)"  (click)="showNotificationI('top','left')" class="btn btn-warning"  onClick="window.location.reload();">Ignorer</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
   
  </div>
</div>
