
<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
                    <span class="navbar-toggler-bar bar1"></span>
                    
                </button>
            </div>
            <a class="navbar-brand" href="#pablo">{{getTitle()}}</a>
        </div>

        <button class="navbar-toggler" type="button" (click)="logout()"  aria-controls="collapseExample" style="color: white">  
                Déconnexion
                <i class="now-ui-icons users_single-02"></i>        </button>

        <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
          
          <ul class="navbar-nav">
            
           
            <li class="nav-item">
                
                
                <button class="navbar" class="btn btn-link" (click)="logout()" style="color: white">  Déconnexion
                    <i class="now-ui-icons users_single-02"></i> </button>
                    
            
            </li>
          </ul>
        </div>
    </div>
</nav>
