

<div class="container" >

    <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">isBusy</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link " href="#">Home</a>
            <a class="nav-link active" >CONNEXION</a>
          </nav>
        </div>
      </header>

  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" style="margin-top:10px">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="mask flex-center">
          <div class="container">
            <div class="row align-items-center" style="margin-top:150px ; margin-bottom: 20px;">
              <div class="col-md-6 col-12 order-md-1 order-2">
                <img src="assets/img/isBusy2.png" alt="" width="250px"> <br> <br> <br>
                </div>
              <div class="col-md-6 col-10 order-md-2 order-1">
                  <a style="font-size: 20px" href="#">ESPACE  <a href="#"> <strong>ADMIN</strong></a> </a>  <br> <br> <br>
                <!-- form -->
                <form>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label sr-only" for="email"></label>
                            <div class="login-input">
                                <input id="id" name="id" type="text" class="form-control" placeholder="Entrer votre id"  required>
                            </div>
                        </div>
                    </div> <br> <br>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label sr-only"></label>
                            <div class="login-input">
                                <input name="password" type="password" class="form-control" placeholder="******"  required>
                            </div>
                        </div>
                    </div> <br> <br> <br>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20 ">
                        <button class="btn btn-primary btn-block mb10">Connexion</button>
                        <div>
                        </div>
                    </div>
                </form>


              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  <a class="carousel-control-prev" href="" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
<!--slide end--> 

</div>

<br> <br>
<!--Bottom Footer-->
<div class="bottom section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="copyright">
            <p>© <span>2019</span> <a href="#" class="transition"> isBusy</a> All rights reserved.</p>
          </div>
        </div>
      </div>
    
  </div>
<!--Bottom Footer-->