

<div class="panel-header panel-header-sm">
</div>
<div class="main-content"  *ngFor="let user of personne.users">
    <span *ngIf="user.id==1">
  <div class="row">
    <div class="col-md-8" >
      <div class="card">
        <div class="card-header" >
          <h5 class="title">MOdifier mon Profil</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">    
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" required [value]="user.username"  >
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input name="email" id="email" type="email" class="form-control" required [value]="user.email" >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Prénom</label>
                  <input type="text" class="form-control"  required [value]="user.prenom" >
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Nom</label>
                  <input type="text" class="form-control" required [value]="user.nom" >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Adresse</label>
                  <input type="text" class="form-control" required [value]="user.adresse" >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Ville</label>
                  <input type="text" class="form-control" required [value]="user.ville" >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="row">
                    <button type="button" class="btn btn-warning" >Modifier</button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </span>
</div>
