<div class="panel-header panel-header-sm">
    <button class="btn btn-primary" style="margin-left:1039px" onclick="window.history.go(-1)">
        <span class="spinner-grow spinner-grow-sm"></span>
        Retour au Tableau de Bord
      </button>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card" style="padding: 19px;margin-left: 250px;">
        <div class="card-header">
          <h5 class="title">Modifier mon Profil</h5>
        </div>

        <div class="card-body">
          <form [formGroup]="editProfileForm" (ngSubmit)="editProfile()">

            <div *ngIf="error" class="row">
              <div class="col-md-8 px-1">
                <div class="alert alert-danger">
                  {{error}}
                </div>
              </div>
            </div>

            <div *ngIf="success" class="row">
              <div class="col-md-8 px-1">
                <div *ngIf="success" class="alert alert-success">
                  {{success}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 px-1">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" formControlName="username">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input name="email" id="email" type="email" class="form-control" formControlName="email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Prénom</label>
                  <input type="text" class="form-control" formControlName="prenom">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Nom</label>
                  <input type="text" class="form-control" formControlName="nom">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Adresse</label>
                  <input type="text" class="form-control" formControlName="adresse">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 pr-1">
                <div class="form-group">
                  <label>Ville</label>
                  <select formControlName="ville" class="form-control">
                    <option *ngFor="let city of villes" [value]="city" [selected]="city == editProfileForm.value.ville">
                      {{city}}</option>
                  </select>
                </div>
              </div>
            </div> <br> <br>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  
                    <button type="submit" class="btn btn-warning btn-lg" style="width: 470px">Modifier</button>
                    <button type="reset" class="btn btn-warning btn-lg" style="width: 470px">Reset</button>
                 
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
