
<div class="container" >

    <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">isBusy</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" routerLink="login" >CONNEXION</a>
          </nav>
        </div>
      </header>

  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" style="margin-top:10px">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="mask flex-center">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-6 col-12 order-md-1 order-2">
                <img src="assets/img/isBusy2.png" alt="" width="250px"> <br> <br> <br>
                <p style="font-size: 20px">Rejoignez la communauté isBusy pour éviter les files d'attente de musées,
                   magasins, guichets d'administrations, services clients ou parcs de loisirs..</p> <br>
                <a style="font-size: 20px" href="#">Télécharger <a href="#"> <strong>isBusy</strong></a> </a> </div>
              <div class="col-md-6 col-10 order-md-2 order-1"><img src="assets/img/isBusy_phone.png" class="mx-auto" alt="isBusy" height="570px" width="540px"></div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  <a class="carousel-control-prev" href="" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
<!--slide end--> 

</div>

<br> 
<!--Bottom Footer-->
<div class="bottom section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="copyright">
            <p>© <span>2019</span> <a href="#" class="transition"> isBusy</a> All rights reserved.</p>
          </div>
        </div>
      </div>
    
  </div>
<!--Bottom Footer-->