<div class="panel-header panel-header-lg">
  <canvas baseChart id="bigDashboardChart"
              [datasets]="lineBigDashboardChartData"
              [labels]="lineBigDashboardChartLabels"
               [colors]="lineBigDashboardChartColors"
              [options]="lineBigDashboardChartOptions"
              [chartType]="lineBigDashboardChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="main-content">
  <div class="row">


    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Total 2019</h5>
          <h4 class="card-title">Nombre d'utilisateur</h4>   
        </div>
        <div class="card-body">
            <div class="card-counter primary">
            <span class="card-title">{{ stats.nombreUsers }}</span>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Total 2019</h5>
          <h4 class="card-title">Nombre de Votes</h4>
          <div ngbDropdown>
          </div>
        </div>
        <div class="card-body">
          <div class="card-counter primary">
            <span class="card-title">{{ stats.nombreVotes }}</span>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Total 2019</h5>
          <h4 class="card-title">Nombre des Emplacements</h4>
          <div ngbDropdown>
          </div>
        </div>
        <div class="card-body">
          <div class="card-counter primary">
            <span class="card-title">1237</span>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category" style="height: 65px">Total 2019</h5>
            <h4 class="card-title">Votes</h4>
            <div ngbDropdown>
              <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
                <i class="now-ui-icons loader_gear"></i>
              </button>
              <div ngbDropdownMenu class="dropdown-menu-right">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item text-danger" href="#">Remove Data</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas baseChart id="lineChartExample"
                          [datasets]="lineChartData"
                          [labels]="lineChartLabels"
                          [colors]="lineChartColors"
                          [options]="lineChartOptions"
                          [chartType]="lineChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
  
          <div class="card-body">
            <div class="card-counter primary">
            <span class="card-title"></span>
          </div>
        </div>
          <div class="card-footer">
            <div class="stats">
              <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
            </div>
          </div>
        </div>
      </div>


    
    <div class="col-md-6">
      <div class="card" >
        <div class="card-header">
          <h5 class="card-category">Catégories</h5>
          <h4 class="card-title"> Emplacements par catégorie</h4>
        </div>
        <div class="card-body" style="height: 330px;overflow-y:scroll ;overflow-x:auto;">
          <div class="table-responsive" >
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Catégorie
                </th>
                <th>
                  Nombre d'emplacements
                </th>
      
              </thead>
            
              <tbody>
                <tr *ngFor="let item of empl">
                  <td>{{ item[0]}}</td>
                  <td>{{ item[1]}}</td>
                </tr>
                
               
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
   
  </div>

 


  
  


