<div class="panel-header panel-header-sm">
</div>
<div class="main-content"   >
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Liste Utilisateurs</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Username
                </th>
                <th>
                  Nom
                </th>
                <th>
                  Prenom
                </th>
                <th class="text-right">
                  Email
                </th>
                <th></th>
                <th></th>
              </thead>
              <tbody *ngFor="let user of personne.users">
                <tr>
                  <td>
                    {{user.username}}
                  </td>
                  <td>
                      {{user.nom}}
                  </td>
                  <td>
                      {{user.prenom}}
                  </td>
                  <td class="text-right">
                      {{user.email}}
                  </td>
                
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
   
  </div>
</div>
