
  
    <div class="panel-header panel-header-sm">
      </div>
      <div class="main-content"   >
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Feedbacks</h4>
                  </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <div class="col-md-6"  >
                            <div class="card">
                              <div class="card-body">
                              <div class="alert alert-warning" *ngFor="let feedback of feedback">
                                {{feedback.feedback}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      