<div class="panel-header panel-header-sm">
  </div>
  <div class="main-content"   >
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Feedbacks</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Titre
                  </th>
                  <th>
                    Message
                  </th>
                  <th>
                    UserId
                  </th>
                  <th></th>
                  <th></th>
                </thead>
                <tbody *ngFor="let user of feedback.reclamations">
                  <tr>
                    <td>
                      {{user.titre}}
                    </td>
                    <td>
                        {{user.message}}
                    </td>
                    <td>
                        {{user.id_user}}
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
